main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    text-align: center;
}

#value{
    font-size: 6rem;
    font-weight: bold;
}

.btn{
    text-transform: uppercase;
    background: transparent;
    color: rgb(39, 19, 226);
    padding: 2px 3px;
    letter-spacing: 5px;
    display: inline-block;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    font-size: 40px;
    cursor: pointer;
    /* box-shadow: 0 1px 3px rgba(red, green, blue, alpha); */
    border-radius: 15px;
    margin: 10px;
}

.btn:hover{
    color: sienna;
    background: springgreen;
}